<html>

<head>

</head>

<body>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
      <li>
        <a routerLink="home">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Home
          </span>
        </a>
      </li>

      <li>
        <a routerLink="inActiveCast">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
            All Request
          </span>
        </a>

      </li>
      <li>
        <a routerLink="cast">
          <i class="fa fa-envelope fa-2x"></i>
          <span class="nav-text">
            All Cast
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a routerLink="employee">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            All Empolyee
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a routerLink="" (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>

</html>
