
  <nav class="main-menu " >
    <div class="d-flex justify-content-center margin-logo" >
      <img class ="img-logo m-2" src="assets\grayFoxLogo.svg" /></div>
    

    <ul>
      <li>
        <a routerLink="home"  routerLinkActive='active'>
          <img class ="img-icon" src="assets\home.svg" />
          <span class="nav-text">
            Home
          </span>
        </a>
      </li>
    
      <li>
        <a routerLink="inActiveCast"  routerLinkActive='active'>
          <img class ="img-icon" src="assets/FileEarmarkText.svg" />
          <span class="nav-text">
            All Request
          </span>
        </a>

      </li>
      <li>
        <a routerLink="cast"  routerLinkActive='active'>
          <img  class ="img-icon" src="assets/director-chair 1.svg" />
          <span class="nav-text">
            All Cast
          </span>
        </a>

      </li>
      <li>
        <a routerLink="employee"  routerLinkActive='active'>
          <img class ="img-icon" src="assets/users.svg" />
          <span class="nav-text">
            All Empolyee
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
     
      <li class="m-2">
        <a  routerLink="" (click)="logout()">
          <img class ="img-icon" src="assets/log-out.svg" />
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>

</html>
