<div class="card" style="width:100%;">

  <div>
      <div class="row">
        <div class="col-md-6" style="text-align: end; cursor: pointer;">
          <input class="form-check-input float-start m-2" type="checkbox" value="" id="flexCheckDefault">
        </div>
        <div class="col-md-6">
          <i class="fa fa-ellipsis-h float-end m-2" aria-hidden="true" style="color: red; cursor: pointer;"></i>
        </div>
      </div>
  </div>
  <img class="card-img-top" src="assets/img/cast-image.png" alt="Card image cap">
  <div class="card-body p-2 pt-0" style="display: inline;" >
    <p class="m-1">ENAD HILAL MOHAMMED
      <i class="fa fa-mars ms-1" aria-hidden="true"></i>
      <span class="flag-icon flag-icon-sa img-rounded ms-2"></span>
      <!-- <span class=”flag-icon flag-icon-{{countryCode | lowercase}} flag-icon-squared”></span> -->
    </p>
    <h2 class="p-0 m-1">Given Name</h2>
    <p class="m-1 p-0">
       <i class="fa fa-map-marker"></i><span class="ms-2">Riyadh, Saudi Arabia</span>
    </p>
    <p class="m-1 mt-2 p-0">
      <i class="fa fa-x fa-check-circle" style="color: green;" aria-hidden="true"></i>
      <span class="ms-2">Exploration into the truck's</span>
    </p>
  </div>

  <hr class="m-0"/>

  <div class="card-info p-2">
    <div class="row" style="text-align: center;">
      <div class="col-md-3">
        <p class="m-0">Age</p>
        <p class="castInfo1 m-0">30 years</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">B Type</p>
        <p class="castInfo1 m-0">Fit</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">Height</p>
        <p class="castInfo1 m-0">180CM</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">Weight</p>
        <p class="castInfo1 m-0">75Kg</p>
      </div>
    </div>
  </div>

  <hr class="m-0"/>

  <div class="card-info p-2 pb-1">
    <p class="castInfo1 m-0"> Previous Expereince </p>
    <p class="m-0">
      There was a small one behind our house and it provided endless fun for me and
      my brothers and sisters. Collected sticks and branches became our
    </p>
  </div>

  <hr class="m-0"/>

  <div class="card-info p-2 pt-1">
    <p class="castInfo1 m-0"> Contact Information </p>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-phone" style="color: red; cursor: pointer;"  aria-hidden="true"></i>
            <i class="fa fa-envelope ms-2" style="cursor: pointer;" aria-hidden="true"></i>
            <!-- <span>0555555555</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card-info p-2">

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-gift" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>30</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="icon">
            <i class="fa fa-male" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>Fit</span>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="icon">
            <i class="fa fa-text-width" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>75 KG</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-mobile" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>0555555555</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-text-height" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>180 CM</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-envelope-o" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>info@grayfox.com</span>
          </div>
        </div>
      </div>
    </div>

  </div> -->

</div>
