<div class="card">

  <div class="card-body">
    <div style="width: 100%">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-lg">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="col-lg" style="text-align: end;">

              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profileImg">
      <div class="statusDiv">
        <div class="activeProfile"></div>
        <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
      </div>

    </div>

    <h2>ENAD HILAL MOHAMMED
      <i class="fa fa-mars" aria-hidden="true"></i>
    </h2>
    <p>
      An exploration into the truck's polarising design
    </p>
  </div>

  <div class="card-info">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-gift" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>30</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-male" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>Fit</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-text-width" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>75 KG</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-mobile" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>0555555555</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-text-height" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>180 CM</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-envelope-o" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
          </div>
          <div class="col-md-9">
            <p>info@grayfox.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
