<div class="card" style="width:100%;">

  <div>
      <div class="row">
        <div class="col-md-6" style="text-align: end; cursor: pointer;">
          <input class="form-check-input float-start m-2" type="checkbox" value="" id="flexCheckDefault">
        </div>
        <div class="col-md-6">
          <i class="fa fa-ellipsis-h float-end m-2" aria-hidden="true" style="color: red; cursor: pointer;"></i>
        </div>
      </div>
  </div>
  <img id="profileImage{{cast.id}}" class="card-img-top" src="" alt="Card image cap">
  <div class="card-body p-2 pt-0" style="display: inline;" >
    <p class="m-1">{{cast ? cast.firstname : ""}}
      <i [ngClass]="cast.gender == 'M' ? 'fa-venus text-primary' : 'fa-mars text-danger'" class="fa ms-1" aria-hidden="true"></i>
      <!-- <span class="flag-icon flag-icon-sa img-rounded ms-2"></span> -->
      <span class="flag-icon flag-icon-{{cast.national}} img-rounded ms-2"></span>
    </p>
    <h2 class="p-0 m-1">{{cast.lastname}}</h2>
    <p class="m-1 p-0">
       <i class="fa fa-map-marker"></i><span class="ms-2">{{cast.city}}, {{cast.national}}</span>
    </p>
    <p class="m-1 mt-2 p-0">
      <i [ngClass]="{'fa-check-circle text-success': cast.status === 'accepted',
                    'fa-minus-circle text-warning' : cast.status === 'pending', 'fa-times-circle-o text-danger' : cast.status === 'rejected' }"
        class="fa" aria-hidden="true"></i>
      <span class="ms-2">{{cast.talent}}</span>
    </p>
  </div>

  <hr class="m-0"/>

  <div class="card-info p-2">
    <div class="row" style="text-align: center;">
      <div class="col-md-3">
        <p class="m-0">Age</p>
        <p class="castInfo1 m-0">{{calculateAgeFromBD(cast.birthday)}} years</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">B Type</p>
        <p class="castInfo1 m-0">{{cast.bodytype}}</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">Height</p>
        <p class="castInfo1 m-0">{{cast.height}}</p>
      </div>
      <div class="col-md-3">
        <p class="m-0">Weight</p>
        <p class="castInfo1 m-0">{{cast.weight}}</p>
      </div>
    </div>
  </div>

  <hr class="m-0"/>

  <div class="card-info p-2 pb-1">
    <p class="castInfo1 m-0"> Previous Expereince </p>
    <p class="m-0">
      {{cast.experience}}
    </p>
  </div>


  <hr class="m-0"/>

  <div class="card-info p-2 pt-1">
    <p class="castInfo1 m-0"> Contact Information </p>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-phone" style="color: red; cursor: pointer;"  aria-hidden="true"></i>
            <i class="fa fa-envelope ms-2" style="cursor: pointer;" aria-hidden="true"></i>
            <!-- <span>0555555555</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card-info p-2">

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-gift" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>30</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="icon">
            <i class="fa fa-male" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>Fit</span>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-md-6 col-sm-6">

        <div class="row">
          <div class="icon">
            <i class="fa fa-text-width" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>75 KG</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-mobile" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>0555555555</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-text-height" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>180 CM</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="icon">
            <i class="fa fa-envelope-o" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
            <span>info@grayfox.com</span>
          </div>
        </div>
      </div>
    </div>

  </div> -->

</div>
