p {
    font-family: Lato;
  }


  .form-control-feedback{
        animation: 1.0s alertAnim forwards;
  }


  @keyframes alertAnim {
      from {
          opacity:0;
          transform: translateY(-20px);
      }
      to {
          opacity:1;
          transform: translateY(0);
      }
  }


  .form-group{
      margin-top: 10px;
  }

  #signUpButton{
      margin-left: 10px;
  }

  .signInButton{
      width: 95%;
  }

  .card{
      width: 100%;
      height: 90%;
      border-radius: unset;
  }

  .formGroup{
      width: 70%;
  }

  .form-control-feedback{
      color: red;
  }
