<div class="container">
  <div class="row">
    <div class="col" *ngFor="let cast of inActiveCasts">
      <div class="card">

        <div class="card-body">
          <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
          <h2>ENAD HILAL MOHAMMED
            <i class="fa fa-mars" aria-hidden="true"></i>
          </h2>
          <p>
            An exploration into the truck's polarising design
          </p>
        </div>

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-mars" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
                </div>
                <div class="col-md-9">
                  <p>test</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-mars" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
                </div>
                <div class="col-md-9">
                  <p>test</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-mars" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
                </div>
                <div class="col-md-9">
                  <p>test</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-mars" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
                </div>
                <div class="col-md-9">
                  <p>test</p>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-mars" aria-hidden="true" style="margin-left:10px;margin-right:10px"></i>
                </div>
                <div class="col-md-9">
                  <p>test</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
    </div>
  </div>
