<div class="container">
  <div class="row mt-1 mb-3">
    <div class="col-sm-12 col-md-12">
      <p class="section-title mb-0">JOIN REQUESTS</p>
      <div class="row castList">
        <div *ngFor="let cast of pendingCasts | paginate: config" class="col-md-3">
          <app-request-cast-card [cast]="cast" (castUpdated)="castUpdated()" ></app-request-cast-card>
        </div>

        <pagination-controls *ngIf="pendingCasts.length>0" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
</div>
</div>
