.filterHeader{
  border: 1px solid black;
}


::ng-deep .popover-body {
  /* background-color:black;
  color:white; */
  min-width: 300px;
  padding: 0;
 }


 .filterKeys{
  border-right: 1px solid black;
 }

 .serachBar{
 }

 .searchKey{
  font-weight: 500;
 }

 .searchKeyHighlight, .searchKey:hover{
  background-color: rgb(156, 152, 152);
  border-radius: 2px;
  color: brown;
 }

 .searchValueHighlight, .searchValue:hover{
  background-color: rgb(156, 152, 152);
  border-radius: 2px;
  color: brown;
 }

 .cardTitle{
  font-weight: 700;
 background-color: white;
 }

 .applyButton{
  padding: 0.1rem 0.5rem;
 }
