/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import '~ngx-toastr/toastr';

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    background-color: #F5F5F5 !important;
  }
  

    body { margin: 0; font-family: "Raleway Thin", sans-serif; }
