.section-title{
  font-size: 25px;
    font-weight: bold;
    color: #D74022;
}
.section-option1{
  color: #D74022;
  text-decoration: none;

}

.filterIcon{
  color: #D74022;
  cursor: pointer;
  font-size: 1.3em;
}

.section-option2{
  color: #D74022;
  text-decoration: none;
}
.section-option1:hover{
  color: black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.section-option2:hover{
  color: black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.container {
  height: 100vh;
  overflow: scroll;
}

/* .requestList{
  height: 40vh;
  overflow: scroll;
}

.employeeList{
  height: 45vh;
  overflow: scroll;
} */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.lastName{
  font-weight: bold;
}

.firstName{
  font-weight: 200;
}

:host ::ng-deep .ngx-pagination {
  padding-left: 0px !important;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

:host ::ng-deep .ngx-pagination li{
  border-radius: 20px !important;
  border: 1px solid black;
  margin-right: 10px;
}

:host ::ng-deep .ngx-pagination a{
  border-radius: 20px !important;
}

:host deep .ngx-pagination .current,
.btn-info {
  background: #D74022 !important;
  border: 1px solid #D74022;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  /* background: #17a2b8 !important; */
  border-radius: 20px !important;
  border: transparent !important;
}


.filterCloseIcon{
  cursor: pointer;
}
