<div class="container">
  <div class="row mt-1 mb-3">
    <div class="col-sm-12 col-md-9">
      <div class="row">
         <div class="col-md-9">
          <p class="section-title mb-0">Casts</p>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-2">
          <a class="section-option1 ms-3">Select All</a>
        </div>
        <div class="col-md-10">
          <div [popover]="myPopover"
          [popoverOnHover]="false"
          [popoverCloseOnClickOutside]="true"
          [popoverCloseOnMouseOutside]="false">
            <i class="fa fa-filter float-end filterIcon mt-1" aria-hidden="true"></i>
            <span *ngFor="let filter of filters; let i=index;"
               class="badge rounded-pill bg-warning text-dark float-end mt-2 ms-2">
               <span>{{filter.key}}:{{filter.value}}</span>
               <a><i class="fa fa-times-circle-o ms-2 filterCloseIcon" aria-hidden="true"
                (click)="removeFilter(i); $event.stopPropagation();"></i></a>
            </span>
            <!-- <a class="section-option2 float-end">Filter</a> -->
          </div>
        </div>
      </div>
      <div class="row castList">
        <div *ngFor="let cast of allCasts" class="col-md-4">
          <app-cast-card [cast]="cast"></app-cast-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col">
          <p class="section-title">Join Request</p>
          <ul class="list-group requestList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="section-title">Employee</p>
          <ul class="list-group employeeList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<popover-content #myPopover
                placement="right"
                [animation]="true"
                [closeOnClickOutside]="true">
    <!-- <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
    <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>. -->
    <app-filter [searchKeys]="searchKeys" [searchValues]="searchValues"
     (searchKeyClick)="loadSearchValues($event)" (applyFilter)="addFilter($event)">
    </app-filter>
</popover-content>
