<div class="container">
  <div class="row mt-1 mb-3">
    <div class="col-12 col-md-9">
      <p class="section-title">Cast</p>
      <div class="row castList">
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
        <div class="col">
          <app-cast-card></app-cast-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="row">
        <div class="col">
          <p class="section-title">Join Request</p>
          <ul class="list-group requestList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="section-title">Employee</p>
          <ul class="list-group employeeList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
