<div class="card">
  <div class="card-body" class="row">
    <div
      class="col-md-1"
      style="padding-left: 30px; padding-top: 10px; padding-bottom: 10px"
    >
      <img src="assets/img/emp.png" alt="" />
    </div>
    <div class="col-md-8">
      <p class="card-title" style="padding-top: 20px; padding-left: 15px">
        Test
      </p>
      <p class="card-text" style="padding-left: 15px">User</p>
    </div>
    <div class="col-md-1">
      <button type="button" class="editBtn"></button>
    </div>
    <div class="col-md-1">
      <button type="button" class="activeBtn"></button>
    </div>
    <div class="col-md-1">
      <button type="button" class="deleteBtn"></button>
    </div>
  </div>
</div>
