<div class="container">
  <div class="row mt-1 mb-3">
    <div class="col-sm-12 col-md-12">
      <p class="section-title mb-0">ALL CASTS</p>
      <div class="row castList">
    <!-- <div class="col" *ngFor="let cast of inActiveCasts">

    </div> -->
    <div class="col-md-3">
      <app-cast-card></app-cast-card>
    </div>
    <div class="col-md-3">
      <app-cast-card></app-cast-card>
    </div>
    <div class="col-md-3">
      <app-cast-card></app-cast-card>
    </div>
    <div class="col-md-3">
      <app-cast-card></app-cast-card>
    </div>
  </div>
</div>
</div>
</div>
